<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KARISMA HOTELS & RESORTS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/ATLANTIC.png" rel="icon">
  <link href="assets/img/ATLANTIC.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <img href="index.html" src="../assets/img/logos/karismalogo1.svg" alt="" class="logonav">
    <hr>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container_text_hero">
            <h1>SOCIAL PACKAGES</h1>
              <p>Ready to reconnect with the people you love? Whether you are celebrating a milestone or simply want to get away, 
                you will find exactly what you are looking for in our social group packages. Choose to have a Birthday Bash if
                 you’re celebrating one of those big numbers this year or come have a Bach Fiesta with your best friends before
                  your big day. If you are seeking moments of peace and tranquility, you will find them within our Nama-stay 
                  Karisma package and for couples that are eager to tune out the world and turn up the passion, Let’s Romance 
                  has it all. Whichever social gathering you choose; you are sure to create new memories that will stay with 
                  you forever.</p>
      </div>
  </section><!-- End Hero -->
  </body>
</html>